<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="/" class="active"><span></span>Login</a>
                </li>
                <li>
                    <ul>
                        <li><a href="about_team">About the Team</a></li>
                        <li><a href="about_app">StudyScapes - The App</a></li>
                        <li><a href="burnabymap">View Your Location</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <div id="makechatwindow" class="modal">
            <span onclick="document.getElementById('makechatwindow').style.display='none'" class="close" title="close window">×</span>
            <form class="windowcontent" action="/chat/<%= result.uname %>/create" method="post">
                <div class="container3">
                    <h1>Create Chat</h1>
                    <p>Please enter the name of your new chat. (aposptrophes don't work yet so please done use them) <br> <br></p>
                    <input id="chatnameinput" name="chatnameinput" type="text" placeholder="Chat Name" required>
                    <p style="font-size:  1em;"><br>You will be able to add participants later.</p>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('makechatwindow').style.display='none'" class="cancelbtn">CANCEL</button>
                        <input id="makeconfirm" type="submit" name="createbtn" class="createbtn" value="CREATE"></input>
                    </div>
                </div>
            </form>
        </div>

        <div id="adduserwindow" class="modal">
            <span onclick="document.getElementById('adduserwindow').style.display='none'" class="close" title="close window">×</span>
            <form class="windowcontent" action="" method="post" id="addform">
                <div class="container3">
                    <h1>Add User</h1>
                    <p>Please enter the username of the person you would like to add to "
                        <%= currentchat.name %>". <br> <br></p>
                    <input id="adduserinput" name="adduserinput" type="text" placeholder="Username of participant" required>
                    <p id="add_done" style="font-size:  1em;"><br>(aposptrophes don't work yet so please done use them)</p>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('adduserwindow').style.display='none'" class="cancelbtn">CANCEL</button>
                        <input id="addconfirm" type="submit" name="addbtn" class="addbtn" value="ADD PARTICIPANT"></input>
                    </div>
                </div>
            </form>
        </div>



        <div class="contactList">
            <h2>Contacts</h2>
            <ul id="chatlist">
                <button id="createwindowbtn" onclick="document.getElementById('makechatwindow').style.display='block'">Create Chat</button>
                <button id="addwindowbtn" onclick="document.getElementById('adduserwindow').style.display='block'">Add User</button>
                <% chatInfo.forEach(function(chats) { %>
                    <a href="/chat/<%= result.uname %>/<%= chats.chatid %>">
                        <%= chats.name %>
                    </a> <br>
                    <% }); %>
            </ul>
        </div>

        <div class="container"></div>
        <ul id="messages">
            <% mesInfo.forEach(function(msg) { %>
                <li class="<%= msg.sender %>">
                    <%= msg.message %>
                </li> <br>
                <span>sent by <%= msg.sender %></span> <br>
                <% }); %>
        </ul>
        <form action="" id="chatForm">
            <input id="txt" autocomplete="off" autofocus="on" placeholder="type a message..." / required><button id="sendbtn">Send</button>
        </form>
        <script>
            $(() => {
                var socket = io();
                // submit text message without reload/refresh the page
                $('#chatForm').submit((evt) => {
                    evt.preventDefault(); // prevents page reloading
                    socket.emit('chat_message', {
                        msg: $('#txt').val(),
                        chatID: '<%= currentchat.chatid %>'
                    });
                    $('#txt').val('');
                    return false;
                });
                $('#addform').submit((evt) => {
                    evt.preventDefault(); // prevents page reloading
                    socket.emit('add_participant', {
                        msg: $('#adduserinput').val(),
                        chatID: '<%= currentchat.chatid %>'
                    });
                    $('#add_done').text($('#adduserinput').val() + ' was added');
                    $('#adduserinput').val('');
                    return false;
                });
                //show messages sent by you
                socket.on('chat_message', (info) => {
                    $('#messages').append($("<li class='" + uname + "'>").text(info.message));
                    $('#messages').append($("<br>"));
                    $('#messages').append($("<span>").text("sent by " + info.name));
                    $('#messages').append($("<br>"));
                    document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                    recolor()
                });
                // temporary manual username input
                var uname = '<%= result.uname %>';
                socket.emit('uname', uname);
                //show messages sent by other users
                socket.on("received", (info) => {
                    $('#messages').append($("<li class='" + info.name + "'>").text(info.message));
                    $('#messages').append($("<br>"));
                    $('#messages').append($("<span>").text("sent by " + info.name));
                    $('#messages').append($("<br>"));
                    document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                });
                window.onload = () => {
                    document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
                    recolor();
                }

                function recolor() {
                    var sent = document.getElementsByClassName(uname);
                    for (var i = 0; i < sent.length; i++) {
                        sent[i].style.backgroundColor = 'lightblue';
                    }
                }
            });
        </script>
        <script src="/socket.io/socket.io.js"></script>
        </div>
</body>

</html>