<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes Home Page - Student</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home - Student</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup" class="active">View All Meetups</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                        <li><a href=>Minigame</a></li>
                        <li><a href="burnaby_map" class="active">View Your Location</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Student Home Page</h2>
        <table>
            <tr>
                <th>Meeting ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Users</th>
                <th>Meetup is Pending</th>
                <th>Meetup is Cancelled</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.mid %>
                    </td>
                    <td>
                        <%= r.date %>
                    </td>
                    <td>
                        <%= r.time %>
                    </td>
                    <td>
                        <%= r.location %>
                    </td>
                    <td>
                        <%= r.users %>
                    </td>
                    <td>
                        <%= r.ispending %>
                    </td>
                    <td>
                        <%= r.iscancelled %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </p>
    </p>
</body>

</html>