<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes Meetups Page - Student</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home - Student</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup" class="active">View All Meetups</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                        <li><a href=>Minigame</a></li>
                        <li><a href="burnaby_map">View your location - Campus Map</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Student Meetups Page</h2>
        <table>
            <tr>
                <th>Meeting ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Users</th>
                <th>Meetup is Pending</th>
                <th>Meetup is Cancelled</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.mid %>
                    </td>
                    <td>
                        <%= r.date %>
                    </td>
                    <td>
                        <%= r.time %>
                    </td>
                    <td>
                        <%= r.location %>
                    </td>
                    <td>
                        <%= r.users %>
                    </td>
                    <td>
                        <%= r.ispending %>
                    </td>
                    <td>
                        <%= r.iscancelled %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </p>
    <h3>Enter a Meeting ID here to edit it</h3>
    <form method="POST" action="/meetup_edit">
        <p>
            <input type="number" name="mid" value="" placeholder="Meetup ID">
            <br>
        </p>

        <p>
            <input type="submit" name="btnEdit" class="button_sm" value="Edit a Meetup">
        </p>
    </form>
    <br>
    <hr>
    <h3>Or enter a Meetup ID here to cancel it</h3>
    <form method="POST" action="/meetup_cancel">
        <p>
            <input type="number" name="mid" value="" placeholder="Meetup ID">
            <br>
        </p>

        <p>
            <input type="submit" name="btnCancel" class="button" value="Cancel a Meeting">
        </p>
    </form>
    <br>
    <p>
        Want to request a new meeting? <a href="meetup_request">Click Here!</a>
    </p>
</body>

</html>