<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes Home Page - Admin</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>View All User Logins</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup_admin" class="active">View All Meetups</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Admin Home Page</h2>
        <table>
            <tr>
                <th>Meeting ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Users</th>
                <th>Meetup is Pending</th>
                <th>Meetup is Cancelled</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.mid %>
                    </td>
                    <td>
                        <!-- need date string to avoid printing time -->
                        <%= r.date.toDateString() %>
                    </td>
                    <td>
                        <%= r.time %>
                    </td>
                    <td>
                        <%= r.location %>
                    </td>
                    <td>
                        <%= r.users %>
                    </td>
                    <td>
                        <%= r.is_pending %>
                    </td>
                    <td>
                        <%= r.is_cancelled %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </p>
    </p>
</body>

</html>