<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/study_scapes.css" />
    <title>StudyScapes Meetups Page - Student</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home - Faculty</a>
                </li>
                <li>
                    <ul>
                        <li><a href="meetup" class="active">View All Meetups</a></li>
                        <li><a href="room_finder">Room Finder</a></li>
                        <li><a href=>Minigame</a></li>
                        <li><a href="burnaby_map" class="active">View Your Location - Campus Map</a></li>
                        <li><a href="burnaby_events">View Upcoming Events</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <p>
        <h2>Faculty Meetups Page</h2>
        <table>
            <tr>
                <th>Meeting ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Users</th>
                <th>Meetup is Pending</th>
                <th>Meetup is Cancelled</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.mid %>
                    </td>
                    <td>
                        <!-- need date string to avoid printing time -->
                        <%= r.date.toDateString() %>
                    </td>
                    <td>
                        <%= r.time %>
                    </td>
                    <td>
                        <%= r.location %>
                    </td>
                    <td>
                        <%= r.users %>
                    </td>
                    <td>
                        <%= r.is_pending %>
                    </td>
                    <td>
                        <%= r.is_cancelled %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </p>
    <h3>Enter a Meeting ID here to confirm the request/update</h3>
    <form method="POST" action="/meetup_confirm">
        <p>
            <input type="number" name="mid" value="" placeholder="Meetup ID">
            <br>
        </p>

        <p>
            <input type="submit" name="btnConfirm" class="button_sm" value="Confirm a Meetup">
        </p>
    </form>
    <br>
    <hr>
    <h3>Or enter a Meetup ID here to remove a cancellation</h3>
    <form method="POST" action="/meetup_remove">
        <p>
            <input type="number" name="mid" value="" placeholder="Meetup ID">
            <br>
        </p>

        <p>
            <input type="submit" name="btnRemove" class="button" value="Remove a Cancelled Meeting">
        </p>
    </form>
</body>

</html>